In [ ]:
import numpy as np
import pandas as pd

In [106]:
og_inat_df = pd.read_csv("../data/data.csv")
print(f"Shape of the dataset: {og_inat_df.shape}")
og_inat_df.head()

Shape of the dataset: (122549, 14)

,id,uuid,user_id,created_at,url,image_url,description,oauth_application_id,place_guess,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
0,45574,4638cfa1-79cb-4f38-8898-a5932ce39a29,1000,2012-01-02 21:44:34 +0100,http://www.inaturalist.org/observations/45574,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"Lake Michigan, Chicago, Illinois",American Coot,Fulica americana,American Coot,Aves,473
1,45575,9f914e0d-d3ed-4310-b1b3-8b5338b5aee6,1000,2012-01-02 21:44:35 +0100,http://www.inaturalist.org/observations/45575,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"Lake Michigan, Chicago, Illinois",Red-breasted Merganser,Mergus serrator,Red-breasted Merganser,Aves,6996
2,45576,d95d10c9-0d6c-42a0-8e93-cfc6b18468ac,1000,2012-01-02 21:44:35 +0100,http://www.inaturalist.org/observations/45576,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"Lake Michigan, Chicago, Illinois",Red-breasted Merganser,Mergus serrator,Red-breasted Merganser,Aves,6996
3,45578,cdd1349e-d74e-4d45-a869-d57ff2cce3aa,1000,2012-01-02 21:44:37 +0100,http://www.inaturalist.org/observations/45578,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"Lake Michigan, Chicago, Illinois",Canada Goose,Branta canadensis,Canada Goose,Aves,7089
4,45579,acca2776-190a-42f2-817e-264e057e5188,1000,2012-01-02 21:44:37 +0100,http://www.inaturalist.org/observations/45579,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"Lake Michigan, Chicago, Illinois",Red-breasted Merganser,Mergus serrator,Red-breasted Merganser,Aves,6996

In [107]:
def check_missing_values(df, column_name):
    # Check if there are any missing values in url and image_url
    print(f"Number of missing values in {column_name}: {df[column_name].isna().sum()}")


check_missing_values(og_inat_df, "url")
check_missing_values(og_inat_df, "image_url")

Number of missing values in url: 0
Number of missing values in image_url: 4332

In [108]:
# Remove rows with missing values in image_url
og_inat_df = og_inat_df[og_inat_df["image_url"].notna()]
print(
    f"Shape of the dataset after removing missing values in image_url: {og_inat_df.shape}"
)
check_missing_values(og_inat_df, "image_url")

Shape of the dataset after removing missing values in image_url: (118217, 14)
Number of missing values in image_url: 0

In [109]:
inat_df = og_inat_df[
    [
        "uuid",
        "image_url",
        "taxon_id",
        "common_name",
        # "scientific_name",
        # "iconic_taxon_name",
    ]
]
inat_df.head()

,uuid,image_url,taxon_id,common_name
0,4638cfa1-79cb-4f38-8898-a5932ce39a29,https://inaturalist-open-data.s3.amazonaws.com...,473,American Coot
1,9f914e0d-d3ed-4310-b1b3-8b5338b5aee6,https://inaturalist-open-data.s3.amazonaws.com...,6996,Red-breasted Merganser
2,d95d10c9-0d6c-42a0-8e93-cfc6b18468ac,https://inaturalist-open-data.s3.amazonaws.com...,6996,Red-breasted Merganser
3,cdd1349e-d74e-4d45-a869-d57ff2cce3aa,https://inaturalist-open-data.s3.amazonaws.com...,7089,Canada Goose
4,acca2776-190a-42f2-817e-264e057e5188,https://inaturalist-open-data.s3.amazonaws.com...,6996,Red-breasted Merganser

In [110]:
inat_df.image_url.value_counts()

image_url
https://inaturalist-open-data.s3.amazonaws.com/photos/336076979/medium.jpeg    6
https://inaturalist-open-data.s3.amazonaws.com/photos/117894081/medium.jpeg    4
https://inaturalist-open-data.s3.amazonaws.com/photos/336077017/medium.jpeg    4
https://inaturalist-open-data.s3.amazonaws.com/photos/223283331/medium.jpeg    3
https://static.inaturalist.org/photos/557315842/medium.jpg                     3
                                                                              ..
https://inaturalist-open-data.s3.amazonaws.com/photos/154737714/medium.jpg     1
https://inaturalist-open-data.s3.amazonaws.com/photos/154737530/medium.jpg     1
https://inaturalist-open-data.s3.amazonaws.com/photos/154737259/medium.jpg     1
https://inaturalist-open-data.s3.amazonaws.com/photos/154730398/medium.jpeg    1
https://static.inaturalist.org/photos/582914395/medium.jpg                     1
Name: count, Length: 118072, dtype: int64

In [111]:
inat_df = inat_df.drop_duplicates(subset=["image_url"], keep="first").reset_index(
    drop=True
)
print(f"Shape of the dataset after removing duplicates: {inat_df.shape}")
inat_df.head()

Shape of the dataset after removing duplicates: (118072, 4)

,uuid,image_url,taxon_id,common_name
0,4638cfa1-79cb-4f38-8898-a5932ce39a29,https://inaturalist-open-data.s3.amazonaws.com...,473,American Coot
1,9f914e0d-d3ed-4310-b1b3-8b5338b5aee6,https://inaturalist-open-data.s3.amazonaws.com...,6996,Red-breasted Merganser
2,d95d10c9-0d6c-42a0-8e93-cfc6b18468ac,https://inaturalist-open-data.s3.amazonaws.com...,6996,Red-breasted Merganser
3,cdd1349e-d74e-4d45-a869-d57ff2cce3aa,https://inaturalist-open-data.s3.amazonaws.com...,7089,Canada Goose
4,acca2776-190a-42f2-817e-264e057e5188,https://inaturalist-open-data.s3.amazonaws.com...,6996,Red-breasted Merganser

In [ ]:
inat_df.groupby("common_name").size().sort_values(ascending=True).reset_index(
    name="count"
)
# .sort_values('common_name', ascending=True).reset_index(drop=True)

               common_name  count
0               sea otters      1
1                Cockatiel      1
2       Collared Finchbill      1
3        Columbian Mammoth      1
4         Oceanic Dolphins      1
..                     ...    ...
851                Mallard   3397
852         American Robin   3594
853   Red-winged Blackbird   3623
854           Canada Goose   3751
855  Eastern Gray Squirrel   3907

[856 rows x 2 columns]

In [ ]:
# get the common_name which have only 1 count
vc = inat_df["common_name"].value_counts()
less_count_df = inat_df[inat_df["common_name"].map(vc) < 10]
print(
    f"Shape of the dataset containing common_name with less than 10 counts: {less_count_df.shape}"
)
print(
    f"Number of unique common_name with less than 10 counts: {less_count_df['common_name'].nunique()}"
)
print(less_count_df["common_name"].value_counts())

Shape of the dataset containing common_name with less than 10 counts: (1321, 4)
Number of unique common_name with less than 10 counts: 469
common_name
Lark Bunting                       9
Inca Tern                          9
Spotted Thick-knee                 9
Scissor-tailed Flycatcher          9
Nicobar Pigeon                     9
                                  ..
Greater Sandhill Crane             1
Genets                             1
Turtle-Doves and Collared-Doves    1
Goeldi's Marmoset                  1
Ruminants                          1
Name: count, Length: 469, dtype: int64

In [ ]:
inat_df = inat_df[inat_df["common_name"].map(vc) >= 10]
print(
    f"Shape of the dataset after removing common_name with at least 10 counts: {inat_df.shape}"
)
print(
    f"Number of unique common_name with at least 10 counts: {inat_df['common_name'].nunique()}"
)
print(inat_df["common_name"].value_counts())

Shape of the dataset after removing common_name with at least 10 counts: (116744, 4)
Number of unique common_name with at least 10 counts: 387
common_name
Eastern Gray Squirrel    3907
Canada Goose             3751
Red-winged Blackbird     3623
American Robin           3594
Mallard                  3397
                         ...
Snow Leopard               10
Little Blue Heron          10
Helmeted Guineafowl        10
Barred Owl                 10
African Spoonbill          10
Name: count, Length: 387, dtype: int64

In [115]:
inat_df[
    inat_df["image_url"]
    == "https://inaturalist-open-data.s3.amazonaws.com/photos/336076979/medium.jpeg"
]

,uuid,image_url,taxon_id,common_name
77552,29b59005-826f-4a4e-9279-293414e4b637,https://inaturalist-open-data.s3.amazonaws.com...,7057,Canvasback

In [116]:
og_inat_df[
    og_inat_df["image_url"]
    == "https://inaturalist-open-data.s3.amazonaws.com/photos/336076979/medium.jpeg"
]

,id,uuid,user_id,created_at,url,image_url,description,oauth_application_id,place_guess,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
80899,191586131,29b59005-826f-4a4e-9279-293414e4b637,1928743,2023-11-20 16:50:16 +0100,https://www.inaturalist.org/observations/19158...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"South Side, Chicago, IL, USA",Canvasback,Aythya valisineria,Canvasback,Aves,7057
80900,191586132,652b10fa-d831-449c-9f50-b7cefb36e35d,1928743,2023-11-20 16:50:17 +0100,https://www.inaturalist.org/observations/19158...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"South Side, Chicago, IL, USA",Ring-necked Duck,Aythya collaris,Ring-necked Duck,Aves,7044
80901,191586133,a967b450-803f-404d-80bf-1118655bce06,1928743,2023-11-20 16:50:17 +0100,https://www.inaturalist.org/observations/19158...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"South Side, Chicago, IL, USA",Redhead,Aythya americana,Redhead,Aves,7056
80902,191586134,6b3d53ae-7cf6-47be-a4d0-66e75a32ec5b,1928743,2023-11-20 16:50:17 +0100,https://www.inaturalist.org/observations/19158...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"South Side, Chicago, IL, USA",Canada Goose,Branta canadensis,Canada Goose,Aves,7089
80903,191586136,44fdff2e-bc74-41ff-84ef-5525574b5647,1928743,2023-11-20 16:50:18 +0100,https://www.inaturalist.org/observations/19158...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"South Side, Chicago, IL, USA",Red-breasted Merganser,Mergus serrator,Red-breasted Merganser,Aves,6996
80904,191586137,a6887065-e08f-4017-a649-a111a3e80684,1928743,2023-11-20 16:50:18 +0100,https://www.inaturalist.org/observations/19158...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,"South Side, Chicago, IL, USA",Gadwall,Mareca strepera,Gadwall,Aves,558439

In [ ]:
from dataclasses import dataclass
from typing import List


@dataclass
class ObservationRecord:
    uuid: str
    image_url: str
    label_index: int


@dataclass
class DatasetBundle:
    train: ObservationsDataset
    validation: ObservationsDataset
    test: ObservationsDataset
    label_names: Sequence[str]
    label_ids: Sequence[int]


def _extract_image_url(row: pd.Series, image_url_column) -> str | None:
    def _clean(value) -> str | None:
        if value is None or pd.isna(value):
            return None
        text = str(value).strip()
        if not text or text.lower() == "nan":
            return None
        return text

    primary = _clean(row.get(image_url_column))
    if primary:
        return primary

    return None


def _load_records(
    df,
    uuid_column,
    image_url_column,
    label_column,
    label_names_column,
) -> tuple[List[ObservationRecord], List[str], List[int]]:
    required_columns = {
        uuid_column,
        image_url_column,
        label_column,
        label_names_column,
    }
    missing = required_columns - set(df.columns)
    if missing:
        raise ValueError(f"Missing required columns in CSV: {missing}")

    essential_columns = {
        uuid_column,
        label_column,
        label_names_column,
    }
    df = df.dropna(subset=list(essential_columns))

    df[label_column] = df[label_column].astype(int)

    label_id_to_name = (
        df[[label_column, label_names_column]]
        .drop_duplicates(subset=[label_column])
        .set_index(label_column)[label_names_column]
        .to_dict()
    )
    label_ids_sorted = sorted(label_id_to_name.keys())
    label_names = [label_id_to_name[label_id] for label_id in label_ids_sorted]
    label_to_index = {label_id: idx for idx, label_id in enumerate(label_ids_sorted)}

    grouped = df.groupby(uuid_column, sort=False)
    records: List[ObservationRecord] = []
    for uuid, group in grouped:
        image_url = _extract_image_url(group.iloc[0], image_url_column)
        if not image_url:
            print("Skipping observation %s due to missing image URL.", uuid)
            continue
        label_ids_unique = sorted(
            {int(label) for label in group[label_column].tolist()}
        )
        if len(label_ids_unique) != 1:
            print(
                f"Observation {uuid} has {len(label_ids_unique)} labels; selecting the first for multi-class setup.",
            )
        label_id = label_ids_unique[0]
        label_index = label_to_index[label_id]
        records.append(
            ObservationRecord(
                uuid=uuid,
                image_url=image_url,
                label_index=label_index,
            )
        )

    print(f"Loaded {len(records)} unique observations with {len(label_names)} labels")
    return records, label_names, label_ids_sorted


records, label_names, label_ids = _load_records(
    inat_df,
    "uuid",
    "image_url",
    "taxon_id",
    "common_name",
)

Loaded 116744 unique observations with 387 labels

In [ ]:
from typing import Tuple

from sklearn.model_selection import train_test_split


def stratified_train_val_test_split(
    labels: np.ndarray,
    validation_size: float,
    test_size: float,
    seed: int,
) -> Tuple[np.ndarray, np.ndarray, np.ndarray]:
    """Create stratified train/validation/test splits for multi-class data."""

    if validation_size + test_size >= 0.9:
        raise ValueError(
            "Combined validation and test size should leave reasonable train data."
        )

    indices = np.arange(len(labels))
    stratify_labels = labels if np.min(np.bincount(labels)) >= 2 else None
    train_idx, holdout_idx = train_test_split(
        indices,
        test_size=validation_size + test_size,
        random_state=seed,
        stratify=stratify_labels,
    )

    holdout_labels = labels[holdout_idx]
    stratify_holdout = (
        holdout_labels if np.min(np.bincount(holdout_labels)) >= 2 else None
    )
    val_idx, test_idx = train_test_split(
        holdout_idx,
        test_size=test_size / (validation_size + test_size),
        random_state=seed,
        stratify=stratify_holdout,
    )

    print(
        f"Created stratified splits: train={len(train_idx)}, val={len(val_idx)}, test={len(test_idx)}",
    )

    return train_idx, val_idx, test_idx


val_size, test_size = 0.15, 0.15
seed = 42

label_array = np.array(
    [record.label_index for record in records],
    dtype=np.int32,
)

train_idx, val_idx, test_idx = stratified_train_val_test_split(
    label_array,
    validation_size=val_size,
    test_size=test_size,
    seed=seed,
)

Created stratified splits: train=81720, val=17512, test=17512

In [121]:
train_records = [records[i] for i in train_idx]
val_records = [records[i] for i in val_idx]
test_records = [records[i] for i in test_idx]

train_records[0]

ObservationRecord(uuid='237ca33b-a005-4013-8176-b6d61764bb82', image_url='https://inaturalist-open-data.s3.amazonaws.com/photos/174080107/medium.jpeg', label_index=91)

In [ ]:
from typing import Callable, List, Sequence

import torch
from PIL import Image
from torch.utils.data import Dataset as TorchDataset


class AnimalDataset(TorchDataset):
    def __init__(
        self,
        records: List[ObservationRecord],
        label_names: Sequence[str],
        transform: Callable,
    ):
        self.records = records
        self.label_names = label_names
        self._transform = transform

    def __len__(self):
        return len(self.records)

    def __getitem__(self, index: int):
        record = self.records[index]
        image = self.load_image(record.image_url)
        image_tensor = self._transform(image)
        target = torch.tensor(record.label_index, dtype=torch.long)
        return image_tensor, target

    def load_image(self, record: ObservationRecord) -> Image.Image:
        """Load an image from a URL."""
        cache_path = self._cache_dir / f"{record.uuid}.jpg"
        if not cache_path.exists():
            if not self._download_with_retries(
                record.image_url, cache_path, record.uuid
            ):
                return self._placeholder_image(cache_path)

        image = Image.open(cache_path)
        return image

In [ ]:
from torchvision import transforms as T


def transforms(image_size: int):
    normalize = T.Normalize(
        mean=[0.485, 0.456, 0.406],
        std=[0.229, 0.224, 0.225],
    )

    train_transform = T.Compose(
        [
            T.Resize((image_size, image_size)),
            T.RandomHorizontalFlip(p=0.5),
            # T.RandomVerticalFlip(p=0.2),
            # T.ColorJitter(0.1, 0.1, 0.1, 0.05),
            T.ToTensor(),
            normalize,
        ]
    )
    eval_transform = T.Compose(
        [
            T.Resize((image_size, image_size)),
            T.ToTensor(),
            normalize,
        ]
    )

    return train_transform, eval_transform


train_transform, eval_transform = transforms(image_size=224)

In [144]:
import yaml

from critter_capture.config.schema import DataConfig

config = yaml.safe_load(open("../config/pipeline.yaml"))
dataconfig = DataConfig(**config.get("base", {}).get("data", {}))
dataconfig

DataConfig(csv_path=PosixPath('../data/data.csv'), uuid_column='uuid', image_url_column='image_url', image_url_fallback_column='url', label_column='taxon_id', label_names_column='common_name', keep_min_samples_per_label=10, validation_size=0.15, test_size=0.15, num_workers=4, image_size=224, normalize_mean=[0.485, 0.456, 0.406], normalize_std=[0.229, 0.224, 0.225], augmentations=True, image_cache_dir=PosixPath('../data/raw/images'), sample_limit=None)

In [ ]:
from critter_capture.data.dataset import (
    build_dataloaders,
    compute_class_weights,
    prepare_datasets,
)

bundle = prepare_datasets(dataconfig, seed=42)
class_weights = compute_class_weights(bundle.train)
dataloaders = build_dataloaders(bundle, batch_size=64, num_workers=4)

In [157]:
# Number of classes
len(bundle.label_names)

387

In [155]:
class_weights.shape

torch.Size([387])